<?xml version="1.0"?>
<robot name="shadow">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="shadow.stl" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="shadow.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>:
</robot>
